@model QLThuVien.Models.PhieuMuon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Xóa Phiếu mượn</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa Phiếu mượn</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="PhieuMuon">Về danh sách Phiếu mượn</a>
        </div>

        <div>
            <h4>Xóa Phiếu mượn @Html.DisplayFor(model => model.MaPM)</h4>
            <hr />
            <dl class="row" style="padding-left: 5px;">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MaPM)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MaPM)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MaDG)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MaDG)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NgayMuon)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NgayMuon)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NgayHenTra)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NgayHenTra)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SoLuongMuon)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SoLuongMuon)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.User)
                </dd>

            </dl>
            <form asp-action="Delete" style="padding-left: 10px; padding-bottom: 10px;">
                <input asp-for="MaPM" type="hidden" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </form>
        </div>

    </div>
</div>
        </div>
    </div>



