@model QLThuVien.Models.TaiKhoan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid">
        <h1 class="mt-4">Xóa Người dùng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Xóa Người dùng</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách Người dùng</a>
            </div>

            <div>
                <h4>Xóa Người dùng<h4>
                <hr />
                <dl class="row" style="padding-left: 5px;">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.User)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.User)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PassWord)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.PassWord)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PhanQuyen)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.PhanQuyen)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TenND)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.TenND)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.SDT)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.SDT)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CMND)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.CMND)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="User" type="hidden" />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </form>
            </div>
        </div>
            </div>
        </div>
    </div>
